.main {
  flex: 1;
  padding: 50px 20px;
  text-align: center;
}

.h2 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #4A4A4A;
  text-transform: uppercase;
}

.filterSection {
  margin: 20px auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterLabel {
  font-size: 18px;
  margin-right: 20px;
  color: #4A4A4A;
}

.datePicker {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.attendanceList {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 600px;
  margin-bottom: 80px;
}

.card {
  background-color: #EAD196;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.left h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  color: #4A4A4A;
}

.left p {
  font-size: 18px;
  color: #4A4A4A;
}

.right p {
  font-size: 18px;
  font-weight: bold;
  color: #4A4A4A;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #7D0A0A;
  color: #EAD196;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.pagination button:hover {
  background-color: #660707;
  color: #EAD196;
}

.right p {
  font-size: 18px; /* Ubah ukuran font sesuai keinginan */
  font-weight: bold;
  color: #4A4A4A; /* Ubah warna font sesuai keinginan */
}

.dark-mode .h2 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #BDBDBD;
  text-transform: uppercase;
}
.dark-mode .card {
  background-color: #D7B66A;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .left h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  color: #3F3C38;
}
.dark-mode .pagination button {
  background-color: #5B0A0A;
  color: #D7B66A;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.dark-mode .right p {
  font-size: 18px; /* Ubah ukuran font sesuai keinginan */
  font-weight: bold;
  color: #3F3C38; /* Ubah warna font sesuai keinginan */
}

/* Gaya untuk tampilan mobile */
@media (max-width: 768px) {
  .main {
    padding: 30px 10px;
    text-align: center;
  }

  .h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .filterSection {
    margin: 15px auto;
    max-width: 50%; /* Lebar penuh pada mobile */
    flex-direction: column; /* Susun label dan date picker secara vertikal */
    align-items: stretch;
  }

  .filterLabel {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center; /* Pusatkan label */
  }

  .datePicker {
    width: 100%; /* Lebar penuh pada mobile */
    font-size: 14px;
  }

  .attendanceList {
    margin-top: 40px;
    max-width: 100%; /* Lebar penuh pada mobile */
    padding: 0 10px; /* Tambahkan padding untuk memberi ruang pada tepi */
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-direction: row; /* Pastikan susunan tetap horizontal */
  }

  .left h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .left, .right {
    width: 50%; /* Set kedua elemen agar mengambil 50% lebar masing-masing */
  }

  .left p, .right p {
    font-size: 16px;
    margin: 0; /* Hilangkan margin untuk memastikan rata */
    text-align: left; /* Teks kiri rata kiri */
  }

  .right p {
    text-align: right; /* Teks kanan rata kanan */
  }

  .pagination {
    margin-top: 15px;
  }

  .pagination button {
  
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
}

/* Tambahkan gaya mode gelap untuk tampilan mobile */
@media (max-width: 768px) {
  .dark-mode.main {
    padding: 30px 10px;
    text-align: center;
  }

  .dark-mode .h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .dark-mode.filterSection {
    margin: 15px auto;
    max-width: 50%; /* Lebar penuh pada mobile */
    flex-direction: column; /* Susun label dan date picker secara vertikal */
    align-items: stretch;
  }

  .dark-mode.filterLabel {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center; /* Pusatkan label */
  }

  .dark-mode .datePicker {
    width: 100%; /* Lebar penuh pada mobile */
    font-size: 14px;
  }

  .dark-mode.attendanceList {
    margin-top: 40px;
    max-width: 100%; /* Lebar penuh pada mobile */
    padding: 0 10px; /* Tambahkan padding untuk memberi ruang pada tepi */
  }

  .dark-mode.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-direction: row; /* Pastikan susunan tetap horizontal */
  }

  .dark-mode.left h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .dark-mode.left, .right {
    width: 50%; /* Set kedua elemen agar mengambil 50% lebar masing-masing */
  }

  .dark-mode.left p, .right p {
    font-size: 16px;
    margin: 0; /* Hilangkan margin untuk memastikan rata */
    text-align: left; /* Teks kiri rata kiri */
  }

  .dark-mode.right p {
    text-align: right; /* Teks kanan rata kanan */
  }

 

  .dark-mode .pagination {
    margin-top: 15px;
  }

  .dark-mode .pagination button {
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
}
