/* Gaya umum untuk container */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Gaya untuk mode gelap */
.dark-mode .avatar {
    background-color: #3F3C38;

}
.dark-mode .name {
    font-size: 24px;
    color: #BDBDBD;
    text-align: center;
    font-weight: bold;
}
.dark-mode .attendanceHistory h2 {
    color: #D7B66A;
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.dark-mode .historyItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #BDBDBD;
    font-size: 18px;
    font-weight: bold;
    color : #BDBDBD;
}


/* Gaya untuk mode terang */
.light-mode .avatar {
    background-color: #F3EDC8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.logo {
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #7D0A0A;
    font-weight: bold;
}

.signOut {
    color: #7D0A0A;
    font-weight: bold;
}

.citButton {
    background-color: #E5C38C;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
}

.main {
    padding: 50px;
}

.profile {
    margin-bottom: 40px;
}

.avatar {
    background-color: #F3EDC8;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;
    margin-top: 50px;
}

.name {
    font-size: 24px;
    color: #3F3C38;
    text-align: center;
    font-weight: bold;
}

.attendanceHistory h2 {
    color: #7D0A0A;
    margin-top: 100px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.historyItem {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #3F3C38;
    font-size: 18px;
    font-weight: bold;
    color: #3F3C38;
}

